@model IEnumerable<CasaDeShow1.Models.Local>

    <div >
    <H2 class="text-center">Todos as casas de Show</H2>
    <a href="/Local/Cadastrar" class="btn btn-success">Nova Casa de Show</a>
    <hr>
    </div>
          
    <table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Nome</th>
            <th scope="col">Endereço</th>
            <th scope="col">Ações</th>
        </tr>
  </thead>

    @foreach (var local in Model)
    {           
        <tbody>
            <tr>
                <th scope="row">@local.Id</th>
                <td>@local.Nome</td>
                <td>@local.Endereco</td>
                <td><a href="/Local/Editar/@local.Id" class="btn btn-info">Editar</a>
                    <a href="/Local/Deletar/@local.Id" class="btn btn-danger">Deletar</a>
                </td>
            </tr>        
        </tbody>
    }
     </table>

    